extends layout
block content
    .main-content
    <!-- Construct a rectangle-like structure on top of the webpage -->
    div(class="container text-center")
        <!-- Align the header in the center of the document -->
        div(class="py-4 bg-dark text-light rounded" style="text-align:center")
            <!-- Place the Globe icon next to the 'Geopop' Header -->
            h1(i class="fa fa-globe" aria-hidden="true" style="font-size:50px")  Geopop

        a(href='/country-report/')
            button(type="submit") Country Report